@{
  ViewData["Title"] = "Mejores Momentos";
}
<div class="container-fluid">
  <main role="main" class="pb-3">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <div class="row">
      <div class="col-md-3 my-3">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Kb_9gmT6kPk"
            allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-md-6 my-3">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/pU89OpwBgOc?autoplay=1"
            allow="autoplay" allowfullscreen></iframe>
        </div>
        <div class="embed-responsive my-3 embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cC7OTicgnPY?autoplay=1"
            allow="autoplay" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-md-3 my-3">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/m3HZKHTLHDU"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>

  </main>
</div>
