@{
    ViewData["Title"] = "Decision";
}
<div class="row justify-content-center mt-5">
    <h2 class="display-4 texto-deal text-center">LA OFERTA ES $@ViewBag.oferta</h2>
</div>
<div class="row">
    <div class="col-md-8 col-12 order-lg-2 mb-5">
        <div class="position-relative row justify-content-between">
                <a href='@Url.Action("DecisionOferta","Juego",new{aceptar=true})'><button class="mx-3 btn btn-oferta btn-large align-right">ACEPTAR</button></a>
          
                <a href='@Url.Action("DecisionOferta","Juego",new{aceptar=false})'><button class="mx-3 btn btn-oferta btn-large float-left">RECHAZAR</button></a>
        </div> 
    </div>
    <div class="col-md-2 col-6 order-lg-1">
        @for (int i = 0; i < ViewBag.nombreCriptos.Length / 2; i++)
        {
            bool existe = false;
            var imageName = ViewBag.nombreCriptos[i].Replace(" ", "_");
            foreach(var item in ViewBag.IndexYCripto){
                if(item.Value == ViewBag.nombreCriptos[i]){
                    existe = true;
                    break;
                }
                
            }
            if(existe){
                <div class="row justify-content-center">
                    <a style="opacity: 40%;"><img class="py-1 cartelWidth" src=@("../img/carteles/" + imageName + ".png")></a>
                </div>
            }
            else{
                    <div class="row justify-content-center">
                        <img class="py-1 cartelWidth" src=@("../img/carteles/" + imageName + ".png")>
                    </div>
                }
        }
    </div>
    <div class="col-md-2 col-6 order-lg-3 mt-4">
        @for (int i = ViewBag.nombreCriptos.Length/2; i < ViewBag.nombreCriptos.Length; i++)
        {
            bool existe = false;
            var imageName = ViewBag.nombreCriptos[i].Replace(" ", "_");
            foreach(var item in ViewBag.IndexYCripto){
                if(item.Value == ViewBag.nombreCriptos[i]){
                    existe = true;
                    break;
                }
                
            }
            if(existe){
                <div class="row justify-content-center">
                    <a style="opacity: 40%;"><img class="py-1 cartelWidth" src=@("../img/carteles/" + imageName + ".png")></a>
                </div>
            }
            else{
                    <div class="row justify-content-center">
                        <img class="py-1 cartelWidth" src=@("../img/carteles/" + imageName + ".png")>
                    </div>
                }
        }
    </div>
</div>
