<div class="row justify-content-center mt-3 mb-3">
    <h2 class="display-4 texto-deal">¡Felicidades, ganaste $@ViewBag.PrecioFinal ! </h2>
</div>

<div class="container-fluid">
  <main role="main" class="pb-3">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <div class="row">
      <div class="col-md-3 my-3">
        <div class="embed-responsive embed-responsive-16by9">
           <img src="~/img/elonMuskBTC.png" width="100%" alt="" />
        </div>
      </div>
      <div class="col-md-6 my-3">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1"
            allow="autoplay" allowfullscreen></iframe> 
        </div>
        <div class="embed-responsive my-3 embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/T2lXnH5gq9I?autoplay=1"
            allow="autoplay" allowfullscreen></iframe>  
        </div>
      </div>
      <div class="col-md-3 my-3 mt-3" id="vertical-center">
        <div class="embed-responsive embed-responsive-16by9 ">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MFjSwrr4BrA" 
            allowfullscreen></iframe>
        </div>
      </div>
    </div>

  </main>
</div>
