@{
    ViewData["Title"] = "Juego Ingame";
}

<div class="row justify-content-center">
    <h2 class="display-4 texto-deal text-center">ELEGI @ViewBag.JugadasRestantes MALETINES PARA ELIMINAR</h2>
</div>

<div class="row">
    <div class="col-md-8 col-12  order-lg-2 mb-4">
        <div class="text-center">

            @for (int i = 0; i < ViewBag.Maletines.Length; i++)
            {
                
                if (ViewBag.Maletines[i].Elegido)
                {
                    
                    <img class="golden-glow maletinWidth" src=@("../img/maletin/" + (i+1).ToString() + ".png")>
                    
                }
                else if (ViewBag.Maletines[i].Abierto)
                {
                    var imageName = ViewBag.IndexYCripto[i+1].ToString().Replace(" ","_");
                    <a class="disabled" style="opacity: 40%;"><img class="maletinWidth maletinAbierto" src=@("../img/maletin/abierto.png")></a>
                    <img src=@("../img/criptos/" + imageName +".png") width="100%" class="criptoAbierto">
                    
                }
                else
                {
                    <a href='@Url.Action("AbrirMaletin","Juego",new{abierto=(i+1)})'><img class="maletinWidth"
                    src=@("../img/maletin/" + (i+1).ToString() + ".png")></a>
                }
            }
            
        </div>
    </div>
    <div class="col-md-2 col-6 order-lg-1 mt-4">
        @for (int i = 0; i < ViewBag.nombreCriptos.Length / 2; i++)
        {
            bool existe = false;
            var imageName = ViewBag.nombreCriptos[i].Replace(" ", "_");
            foreach(var item in ViewBag.IndexYCripto){
                if(item.Value == ViewBag.nombreCriptos[i]){
                    existe = true;
                    break;
                }
                
            }
            if(existe){
                <div class="row justify-content-center">
                    <a style="opacity: 40%;"><img class="py-1 cartelWidth" src=@("../img/carteles/" + imageName + ".png")></a>
                </div>
            }
            else{
                    <div class="row justify-content-center">
                        <img class="py-1 cartelWidth" src=@("../img/carteles/" + imageName + ".png")>
                    </div>
                }
        }
    </div>
    <div class="col-md-2 col-6 order-lg-3 mt-4">
        @for (int i = ViewBag.nombreCriptos.Length/2; i < ViewBag.nombreCriptos.Length; i++)
        {
            bool existe = false;
            var imageName = ViewBag.nombreCriptos[i].Replace(" ", "_");
            foreach(var item in ViewBag.IndexYCripto){
                if(item.Value == ViewBag.nombreCriptos[i]){
                    existe = true;
                    break;
                }
                
            }
            if(existe){
                <div class="row justify-content-center">
                    <a style="opacity: 40%;"><img class="py-1 cartelWidth" src=@("../img/carteles/" + imageName + ".png")></a>
                </div>
            }
            else{
                    <div class="row justify-content-center">
                        <img class="py-1 cartelWidth" src=@("../img/carteles/" + imageName + ".png")>
                    </div>
                }
        }
    </div>
</div>
