@{
    ViewData["Title"] = "Eleccion Final";
}
<div class="justify-content-center">
    <h2 class="display-4 texto-deal text-center">ELEGI EL MALENTIN CON EL QUE TE QUEDAS!
    </h2>
    <div class="row">
        <div class="col-6">
        <a href='#'><img class="dark-glow float-right" width="260vw"
                    src="~/img/maletin/3.png">        
        </div>
        <div class="col-6">
        <a href='#'><img class="golden-glow float-left" width="260vw"
                    src="~/img/maletin/1.png">
        </div>
    </div>
</div>