@{
    ViewData["Title"] = "Sala de Escape";
}

<div class="text-center box pt-2">
    
    <p class="mt-5">
        Ey! Te despertaste! Hoy es 19 de marzo de 2002. Por si no recordás, sos Sancho Panza. una persona que fue
        altamente afectada por la crisis del 2001. Todo el dinero que tenías en el banco, por suerte, sigue ahí. Pero me
        dijeron que no tenés manera de entrar a tu caja fuerte porque no recordás el código, ¿Verdad? Alguien de tu
        confianza fue lo suficientemente inteligente como para distribuir esos 4 dígitos entre 4 famosos argentinos. Te
        voy a dar pistas para que adivines quién es cada uno y vas a poder recuperar tu dinero.
    </p>

    <div class="shake-horizontal my-3">
        <button type="button" class="btn btn-primary">
            <a class="nav-link text-dark " asp-area="" asp-controller="Escape" asp-action="habitacion1">Jugar</a>
        </button> 
    </div>
    <div class="col-md-6 offset-md-3">
    <img src="~/img/carrouselIndex/1.jpg " width="100%" alt="First slide">
    </div>
</div>


