@{
    ViewData["Title"] = "Felicidades!!";
}


<div class="container mt-5">
    
    <p class="fade-in-fwd text-center">
        Ahora que tenés todas las partes, las unís y formas una contraseña la cual usas en el banco. Y... 
        Es válida! Ahora tenés toda la plata que tenías retenida, ¡Felicidades!. Pero, hay un problema: 
        te fijás bien y solo tenés 2,4$ dólares en la cuenta. Pensás que te estafaron pero te acordas que 
        un día antes del corralito te gastaste todo en dogecoin y ahora no vale nada. Le pedís a tu amigo 
        Elon que te de una mano pero nadie contesta. ¡Mejor suerte para la próxima! A lo mejor tenes plata 
        escondida con un código para esta situación...
    </p>
    <p class="fade-in-fwd mt-3">
    Cantidad de intentos: WIP
    </p>
    <p class="fade-in-fwd">
    Cantidad de pistas utilizadas: WIP
    </p>


</div>

<script>
    var sample = document.getElementById("foobar");
    sample.play();
</script>
