@{
    ViewData["Title"] = "Home Page";
}

<div class="row ml-auto">
   
    <div class="col-6 order-lg-1 mb-5">
        <div class="text-center mt-2 mb-5">
            <h3>Bienvenido a DealOr No Crypto</h3>
        </div>
        <div class="mt-2 mb-2">
            <p>Este juego consiste en que hay 26 maletines. Cada uno contiene aden  tro una crypto y un monto. A penas
                comienza el juego usted va a tener la oportunidad de elegir un maletin el cual lo va a acompañar todo el
                juego. Todo el tiempo estara abriendo maletines y cada 6 maletines la banca el hará una oferta. Usted podra aceptarlo y se terminara el juego o rechazarla y seguir jugando.
                Finalmente si se llega a dos maletines se te dara a elegir si queres conservar el maletin con el que arrancaste el juego o si por el contrario queres cambiar el maletin.</p>
        </div>
    </div>
     <div class="col-6 order-lg-1 mb-5">
        <div class="text-center">
            <img src="~/img/LOGO.png" width="100%" alt="" />
        </div>
    </div>

</div>

    
    <div class="text-center">
        <a class="mx-3 btn btn-oferta btn-large" href='@Url.Action("Index","Juego")'>Jugar</a>
    </div>
    
